/* import fonts */
@font-face {
  font-family: "tangerineregular";
  src: url("tangerine-webfont.woff2") format("woff2"),
    url("tangerine-webfont.woff") format("woff"),
    url("tangerine-webfont.ttf") format("truetype"),
    url("tangerine-webfont.svg#tangerineregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* root */
:root {
  --primary-font-family: "Syne", sans-serif;
  --secondary-font-family: "Sen", sans-serif;
  --highlight-font-family: "Sporting Grotesque", sans-serif;
}

/* body */
/* D2E9F6 */
body {
  background-color: #fbf9f5;
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  padding: 160px;
}

.hero h1 {
  font-family: tangerineregular;
  font-weight: 500;
  font-size: 100px;
  font-display: block;
}

.hero h2 {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 40px;
}

.hero p {
  font-family: var(--highlight-font-family);
  font-size: 18px;
}

/* projects */
.projects {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 60px 20px 60px;
}

.projects h2 {
  font-family: var(--primary-font-family);
  font-size: 30px;
}

.projects h3 {
  font-family: var(--highlight-font-family);
  font-size: 20px;
}

.projects p {
  font-family: var(--secondary-font-family);
  font-size: 18px;
}

/*button*/
.button-primary {
  font-family: var(--highlight-font-family);
  font-size: 14px;
  padding: 8px 25px 8px;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  color: black;
  margin-left: 18px;
}

/*about-page*/
.about-section {
  padding: 120px 140px;
}

.about-text {
  padding-right: 100px;
}

.about-text h1 {
  font-family: tangerineregular;
  font-weight: 200;
  font-size: 70px;
}
/*mobile responsive*/
@media (max-width: 767px) {
  .hero {
    padding: 160px 20px;
  }

  .hero h1 {
    font-size: 70px;
    text-align: center;
  }

  .hero h2 {
    font-size: 30px;
    text-align: center;
    padding: 50px 0px;
  }

  .hero p {
    text-align: center;
    padding: 10px 10px;
  }

  .projects {
    padding: 0px 20px;
  }

  .project-description {
    padding-top: 50px;
  }
}
