/* import fonts */
@font-face {
  font-family: "tangerineregular";
  src: url("tangerine-webfont.woff2") format("woff2"),
    url("tangerine-webfont.woff") format("woff"),
    url("tangerine-webfont.ttf") format("truetype"),
    url("tangerine-webfont.svg#tangerineregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* root */
:root {
  --primary-font-family: "Syne", sans-serif;
  --secondary-font-family: "Sen", sans-serif;
}

/* body */

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  padding: 160px;
}

.hero h1 {
  font-family: tangerineregular;
  font-weight: 500;
  font-size: 100px;
}

.hero h2 {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 40px;
}

.hero p {
  font-family: var(--secondary-font-family);
}
