/* import fonts */
@font-face {
  font-family: "Tangerine";
  src: url(../fonts/TangerineRegular.woff2) format("woff2"),
    url(../fonts/TangerineRegular.woff) format("woff"),
    url(../fonts/TangerineRegular.ttf) format("truetype"),
    url(...fonts/TangerineRegular.svg#TangerineRegular) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sportinggrotesqueregular";
  src: url(../fonts/sporting_grotesque-regular_web-webfont.woff2)
      format("woff2"),
    url(../fonts/sporting_grotesque-regular_web-webfont.woff) format("woff"),
    url(../fonts/sporting_grotesque-regular_web-webfont.ttf) format("truetype"),
    url(../fonts/sporting_grotesque-regular_web-webfont.svg#sporting_grotesqueregular)
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* root */
:root {
  --primary-font-family: "Syne", sans-serif;
  --secondary-font-family: "Sen", sans-serif;
  --highlight-font-family: "sportinggrotesqueregular", sans-serif;
}

/* body */
/* D2E9F6 */
body {
  background-color: #fbf9f5;
}

/* nav bar */

nav {
  padding: 30px 70px 0 0;
  text-align: end;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  text-decoration: none;
  list-style: none;
  padding: 30px;
  font-family: var(--highlight-font-family);
}

nav a {
  color: black;
}

nav a:hover {
  color: #9f7159;
  text-decoration: none;
}

nav li.active a {
  color: #9f7159;
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  padding: 160px;
}

.hero h1 {
  font-family: "tangerine";
  font-weight: normal;
  font-style: normal;
  font-size: 100px;
}

.hero h2 {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 40px;
}

.hero p {
  font-family: var(--highlight-font-family);
  font-size: 18px;
}

.hero a {
  color: black;
  text-decoration: none;
}

/* projects */
.projects {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 60px 20px 60px;
}

.projects h2 {
  font-family: var(--primary-font-family);
  font-size: 30px;
}

.projects h3 {
  font-family: var(--highlight-font-family);
  font-size: 20px;
}

.projects p {
  font-family: var(--secondary-font-family);
  font-size: 18px;
}

/*button*/
.button-primary {
  font-family: var(--highlight-font-family);
  font-size: 14px;
  padding: 8px 25px 8px;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  color: black;
  margin-left: 18px;
}

/*about-page*/
.about-section {
  padding: 100px 140px;
}

.about-text {
  padding-right: 100px;
}

.about-text h1 {
  font-family: tangerineregular;
  font-weight: 200;
  font-size: 70px;
}

.about-text p {
  font-family: var(--secondary-font-family);
  font-size: 18px;
}
/*mobile responsive*/
@media (max-width: 767px) {
  nav {
    padding: 30px 0px;
  }

  nav ul {
    text-align: center;
    padding: 0;
  }

  .hero {
    padding: 60px 20px;
  }

  .hero h1 {
    font-size: 70px;
    text-align: center;
  }

  .hero h2 {
    font-size: 30px;
    text-align: center;
    padding: 50px 0px;
  }

  .hero p {
    text-align: center;
    padding: 10px 10px;
  }

  .projects {
    padding: 0px 20px;
  }

  .project-description {
    padding-top: 50px;
  }

  .about-section {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .about-text {
    padding: 0 20px;
    margin: 0px;
  }

  .about-photo {
    display: block;
    margin: 0 auto;
    padding: 0 40px;
  }
}
